.all{
    width: 1349px;
    margin: auto;
    border: 1px solid black;
}
.menu{
    width: 100%;
    float: left;
    background-color: orangered;
    text-align: center;   
}
.menu ul li{  
  display: inline-block;
  padding: 0px 70px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.menu ul li a:hover{
    text-decoration: underline;  
}
.tieude{
    background-color: black;
    color: white;
    width: 1349px;
    height: 140px;
}
.tieude h1{
    padding-top: 70px;
}

.noidung{
    
}
form{
    background-color: whitesmoke;
    margin-left: 330px;
     width: 700px;
    border: 1px solid black ;
}
td{
    height: 40px;
}
th{
    height: 40px;
}


.end{
    padding: 1px;
    width: 1347px;
    background-color: orangered;
    height: 50px;
}
.end h3{
    position: relative;
    color: white;
}